// ======== VARIÁVEIS DE CORES ========
$primary-color: rgba(255, 255, 255, 0.92);   // Branco translúcido
$primary-color-darker: #222121;             // Quase preto
$background-container: #636363;             // Cinza médio
$text-color: white;
$accent-color: #bc11ff;                        // Destaque
$button-hover-bg: $primary-color-darker;

// ======== BASE ========
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $primary-color-darker;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  color: $text-color;
}

// ======== CONTAINER ========
.container {
  max-width: 640px;
  margin: 10em auto;
  background: $background-container;
  padding: 20px;
  border-radius: 10px;
  height: 30em;

  h1 {
    color: $text-color;
  }
}

// ======== FORMULARIO ========
form {
  input,
  label,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    font-size: 24px;
    height: 20px;
    padding: 0 20px;

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  button {
    border: none;
    background: $primary-color;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
      background: $button-hover-bg;
    }
  }
}

.botaoEdita {
  background-color: palegreen;
}

// ======== ELEMENTOS LIVRES ========
span {
  color: $accent-color;
}

// ======= ELEMENTOS THEME =========
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #26202952;
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 26px; width: 26px;
      left: 4px; bottom: 4px;
      background-color: #bc11ff;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #ffffff;
  }

  input:checked + .slider::before {
    transform: translateX(26px);
  }
}

body.dark {
  --bg: #121212;
  --text: #ffffff;
  --span:$accent-color;
}

body.light {
  --bg: #f0f0f0;
  --text: #000000;
  --span:$accent-color;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}
