// ======== VARIÁVEIS DE CORES ========
$primary-color: rgba(255, 255, 255, 0.92);   // Branco translúcido
$primary-color-darker: #212122;             // Quase preto
$background-container: #636363;             // Cinza médio
$background-container-light: #F2F2F2;
$background-container-dark: #011826;
$text-color: white;
$accent-color: #00b7ff;                        // Destaque
$button-hover-bg: $primary-color-darker;

// ======== BASE ========
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');;

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $primary-color-darker;
  font-family: 'nunito';
  font-size: 1.3em;
  line-height: 1.5em;
  color: $text-color;
}

// ======== CONTAINER ========
.container {
  max-width: 640px;
  margin: 10em auto;
  background: $background-container;
  padding: 20px;
  border-radius: 10px;
  height: 30em;

  h1 {
    color: $text-color;
  }
}

// ======== FORMULARIO ========
form {
  input,
  label,
  button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    font-size: 24px;
    height: 20px;
    padding: 0 20px;

    &:focus {
      outline: 1px solid $primary-color;
    }
  }

  button {
    border: none;
    background: $primary-color;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
      background: $button-hover-bg;
    }
  }
}
.btn-tarefa {
  border-radius: 40px;
  width: 10vh;
  height: 34px;
  background-color: #056CF2;
  color: #F2F2F2; 
  margin-right: 6px;
  font-family: 'nunito';
  font-size: medium;
  border: none;
}

.input-tarefa {
  border-radius: 40px;
  width: 40vh;
  height: 34px;
  margin-right: 6px;
  border: none;
}

/* input edit */
.input-edicao {
  border-radius: 40px;
  width: 40vh;
  height: 34px;
  box-shadow: none;
  margin-right: 10px;
  border: none;
}


// ======== ELEMENTOS LIVRES ========
span {
  color: $accent-color;
}

// ======= ELEMENTOS THEME =========
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0;
    right: 0; bottom: 0;
    background-color: #26202952;
    transition: 0.4s;
    border-radius: 34px;
    border: solid 1px black;

    &::before {
      position: absolute;
      content: "";
      height: 26px; width: 26px;
      left: 4px; bottom: 4px;
      background-color: #056CF2;
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  input:checked + .slider {
    background-color: #ffffff;
  }

  input:checked + .slider::before {
    transform: translateX(26px);
  }
}

body.dark {
  .container {
    border-radius: 30px;
    border: solid #056CF2 10px;
    background-color: #08171E;
  }
  --bg: #08171E;
  --text: #ffffff;
  --span:$accent-color;
  
}

body.light {
  .container {
    border-radius: 30px;
    border: solid white 10px;
    background-color: #929292da;
  }
  --bg: #929292da;
  --text: white;
  --span:$accent-color;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}

// ========== EMOJIS ===========
.editar,
.apagar {
  background-color: #056CF2;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: none;
  border: #000000;
  margin-left: 10px;
}